@model ASP.NET_MVC_EntityFramework.Models.ViewModels.BookViewModel
@{
    ViewBag.Title = "Create";
}

@section styles{

    <link href="~/Content/bootstrap-datepicker.standalone.css" rel="stylesheet" />
}
<div id="msg" class="mt-3 text-center"></div>
<div class="row mt-3">

    <div class="col">

        @using (Ajax.BeginForm("Create", "Books", new { }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnComplete = "ClearAll", UpdateTargetId = "msg" }, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="offset-2 form-text">
                <h3 class="text-center mr-2 mb-2 ml-0 col-md-8">Add New Book</h3>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group row">
                    @Html.LabelFor(b => b.BookName, new { @class = "form-control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(b => b.BookName, new { htmlAttributes = new { @class = "form-control", placeholder = "Book Name" } })
                        @Html.ValidationMessageFor(b => b.BookName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(b => b.AuthorName, new { @class = "form-control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(b => b.AuthorName, new { htmlAttributes = new { @class = "form-control", placeholder = "Author Name" } })
                        @Html.ValidationMessageFor(b => b.AuthorName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(b => b.PublisherId, new { @class = "form-control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(b => b.PublisherId, ViewBag.Publishers as SelectList, "--Select--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(b => b.PublisherId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(b => b.PublishDate, new { @class = "form-control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(b => b.PublishDate, "{0:dd-MM-yyyy}", new { @class = "form-control PublishDate", placeholder = "Book Publish Date", autocomplete = "off" })
                        @Html.ValidationMessageFor(b => b.PublishDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(b => b.Price, new { @class = "form-control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(b => b.Price, new { htmlAttributes = new { @class = "form-control", placeholder = "Book Price" } })
                        @Html.ValidationMessageFor(b => b.Price, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(b => b.CvImage, new { @class = "form-control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(b => b.CvImage, new { @class = "form-control", type = "file" })
                        @Html.ValidationMessageFor(b => b.CvImage)
                    </div>
                </div>
                <div class="form-group col-md-8">
                    <div class="offset-3">
                        @Html.ActionLink(" View List", "Index", "Books", new { }, new { @class = "btn btn-primary" })
                        <div class="float-right">
                            <input type="reset" value="RESET" class="btn btn-warning mr-auto" />
                            <input class="btn btn-success mr-0" type="submit" value=" SAVE" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".PublishDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                orientation: 'auto bottom'
            });
        });
        function ClearAll() {
            $("#form0").trigger("reset");
        };
    </script>
}

