@model ASP.NET_MVC_EntityFramework.Models.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<div class="row mt-5">
    <div class="offset-4 col-md-4">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="card bg-light">
                <article class="card-body mx-auto" style="max-width:300px;">
                    <h3 class="text-center card-title mt-1 mb-4">Login</h3>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group row">
                        @Html.LabelFor(l => l.UserName, new { @class = "form-control-label col-md-12 fa fa-user" })
                        <div class="col-md-12">
                            @Html.EditorFor(l => l.UserName, new { htmlAttributes = new { @class = "form-control fa fa-user ", placeholder = "Username", autocomplete = "off" } })
                            @Html.ValidationMessageFor(l => l.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(l => l.Password, new { @class = "form-control-label col-md-12 fa fa-lock" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(l => l.Password, new { @class = "form-control password", placeholder = "Password", autocomplete = "off", @id = "password", name = "password", @type = "password" })
                            @*<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>*@
                            @*<div class="input-group-append d-flex justify-content-end">
            @Html.TextBoxFor(l => l.Password, new { @class = "form-control password inline", placeholder = "Password", autocomplete = "off", @id = "password", name = "password" })
            <button id="show_password" class="btn btn-group-toggle float-right btn-sm d-inline" type="button"><i class="fa fa-eye-slash icon"></i></button>
        </div>*@
                            @Html.ValidationMessageFor(l => l.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block fa fa-sign-in ">&nbsp; Login</button>
                        <div class="mt-2">
                            <span style="font-size:16px;color:darkslateblue;">Haven't an account?</span> @Html.ActionLink(" Register", "Register", "Account", new { }, new { @class = "btn btn-link fa fa-user-plus btn-sm" })
                        </div>
                    </div>
                </article>
            </div>
        }
    </div>
</div>

@section scripts{
    <script>
        //$(document).ready(function () {
        //    $('#show_password').hover(function show() {
        //        //Change the attribute to text
        //        $('#password').attr('type', 'text');
        //        $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
        //    },
        //        function () {
        //            //Change the attribute back to password
        //            $('#password').attr('type', 'password');
        //            $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
        //        });
        //   //CheckBox Show Password
        //    $('#ShowPassword').click(function () {
        //        $('#Password').attr('type', $(this).is(':checked') ? 'text' : 'password');
        //    });
        //});
        //$(document).ready(function () {
        //    $(".toggle-password").click(function () {

        //        $(this).toggleClass("fa-eye fa-eye-slash");
        //        var input = $($(this).attr("toggle"));
        //        if (input.attr("type") == "password") {
        //            input.attr("type", "text");
        //        } else {
        //            input.attr("type", "password");
        //        }
        //    });
        //})


    </script>
}